body {
    background: url('https://images.fineartamerica.com/images-medium-large-5/massachusetts-institute-of-technology-eastman-labs-university-icons.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}
.card {
    width: 40%;
    background-color: #ffffffcc;
}